In [2]:
import pandas as pd
import numpy as np

In [25]:
df1 = pd.read_excel('F:\\Invoice_Validation\\Walmart Sales JAN18 to JAN19.xls')

In [26]:
df2 = pd.read_excel('F:\\Invoice_Validation\\MAIN-RANSTAD-PETER.xls')

In [27]:
df3 = pd.merge(df1, df2, on=['EmpName','To date'], how='outer')
df3

,Invoice No,Billed Qty,Unit,Rate,EmpName,From date,To date,Inv value,Tax Value,Total Value,Invoice Number,AP Voucher,Voucher Amount,GROSS,FEE,Quantity,Supplier Amount
0,972787818.0,112.0,H,23.0,Akshatha Murthy,2018-02-03,2018-02-28,2576.0,0.00,2576.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,971335616.0,149.0,H,65.0,Karthick P,2018-02-03,2018-02-28,9685.0,920.08,10605.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,971335638.0,176.0,H,65.0,Karthick P,2018-03-01,2018-03-31,11440.0,0.00,11440.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,971283566.0,40.0,H,65.0,Karthick P,2018-06-16,2018-06-22,2600.0,0.00,2600.00,7980660.0,6699603.0,2574.00,2600.00,26.00,40.0,65.0
4,971284078.0,40.0,H,65.0,Karthick P,2018-06-23,2018-06-29,2600.0,0.00,2600.00,8047039.0,6731583.0,2574.00,2600.00,26.00,40.0,65.0
5,971285051.0,32.0,H,65.0,Karthick P,2018-06-30,2018-07-06,2080.0,0.00,2080.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,971286479.0,32.0,H,65.0,Karthick P,2018-07-07,2018-07-13,2080.0,0.00,2080.00,8118918.0,6787547.0,2059.20,2080.00,20.80,32.0,65.0
7,971286660.0,40.0,H,65.0,Karthick P,2018-07-14,2018-07-20,2600.0,0.00,2600.00,8223052.0,6849238.0,2574.00,2600.00,26.00,40.0,65.0
8,971297100.0,40.0,H,65.0,Karthick P,2018-07-21,2018-07-27,2600.0,0.00,2600.00,8227686.0,6849240.0,2574.00,2600.00,26.00,40.0,65.0
9,971300026.0,40.0,H,65.0,Karthick P,2018-07-28,2018-08-03,2600.0,0.00,2600.00,8262896.0,6878097.0,2574.00,2600.00,26.00,40.0,65.0
10,971304055.0,32.0,H,65.0,Karthick P,2018-08-04,2018-08-10,2080.0,0.00,2080.00,8330275.0,6910943.0,2059.20,2080.00,20.80,32.0,65.0
11,971306238.0,40.0,H,65.0,Karthick P,2018-08-11,2018-08-17,2600.0,0.00,2600.00,8374640.0,6939211.0,2574.00,2600.00,26.00,40.0,65.0
12,971307574.0,40.0,H,65.0,Karthick P,2018-08-18,2018-08-24,2600.0,0.00,2600.00,8431416.0,6968668.0,2574.00,2600.00,26.00,40.0,65.0
13,971317594.0,40.0,H,65.0,Karthick P,2018-08-25,2018-08-31,2600.0,247.00,2847.00,8521508.0,7030573.0,2574.00,2600.00,26.00,40.0,65.0
14,971364957.0,40.0,H,65.0,Karthick P,2018-08-25,2018-08-31,2600.0,0.00,2600.00,8521508.0,7030573.0,2574.00,2600.00,26.00,40.0,65.0
15,971320346.0,32.0,H,65.0,Karthick P,2018-09-01,2018-09-07,2080.0,197.60,2277.60,8526680.0,7030574.0,2059.20,2080.00,20.80,32.0,65.0
16,971364943.0,32.0,H,65.0,Karthick P,2018-09-01,2018-09-07,2080.0,0.00,2080.00,8526680.0,7030574.0,2059.20,2080.00,20.80,32.0,65.0
17,971333821.0,40.0,H,65.0,Karthick P,2018-09-08,2018-09-14,2600.0,0.00,2600.00,8583697.0,7061222.0,2574.00,2600.00,26.00,40.0,65.0
18,971333478.0,40.0,H,65.0,Karthick P,2018-09-15,2018-09-21,2600.0,0.00,2600.00,8633108.0,7091178.0,2574.00,2600.00,26.00,40.0,65.0
19,971336987.0,40.0,H,65.0,Karthick P,2018-09-22,2018-09-28,2600.0,0.00,2600.00,8680234.0,7122676.0,2574.00,2600.00,26.00,40.0,65.0
20,971343771.0,40.0,H,65.0,Karthick P,2018-09-29,2018-10-05,2600.0,0.00,2600.00,8728860.0,7153066.0,2574.00,2600.00,26.00,40.0,NaN
21,971343772.0,40.0,H,65.0,Karthick P,2018-10-06,2018-10-12,2600.0,0.00,2600.00,8775405.0,7186689.0,2574.00,2600.00,26.00,40.0,NaN
22,971352058.0,32.0,H,65.0,Karthick P,2018-10-13,2018-10-19,2080.0,0.00,2080.00,8828439.0,7215269.0,2059.20,2080.00,20.80,32.0,NaN
23,971355077.0,40.0,H,65.0,Karthick P,2018-10-20,2018-10-26,2600.0,0.00,2600.00,8870265.0,7244795.0,2574.00,2600.00,26.00,40.0,NaN
24,971359200.0,48.0,H,65.0,Karthick P,2018-10-27,2018-11-02,3120.0,0.00,3120.00,8938643.0,7276261.0,3088.80,3120.00,31.20,48.0,NaN
25,971359199.0,32.0,H,65.0,Karthick P,2018-11-03,2018-11-09,2080.0,0.00,2080.00,8979171.0,7309559.0,2059.20,2080.00,20.80,32.0,NaN
26,971362053.0,40.0,H,65.0,Karthick P,2018-11-10,2018-11-16,2600.0,0.00,2600.00,9027489.0,7339635.0,2574.00,2600.00,26.00,40.0,NaN
27,971365076.0,24.0,H,65.0,Karthick P,2018-11-17,2018-11-23,1560.0,0.00,1560.00,9066369.0,7362986.0,1544.40,1560.00,15.60,24.0,NaN
28,971374915.0,40.0,H,65.0,Karthick P,2018-11-24,2018-11-30,2600.0,0.00,2600.00,9113482.0,7393898.0,2574.00,2600.00,26.00,40.0,NaN
29,971378285.0,40.0,H,65.0,Karthick P,2018-12-01,2018-12-07,2600.0,0.00,2600.00,9146477.0,7425204.0,2574.00,2600.00,26.00,40.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28937,NaN,NaN,NaN,NaN,Sangeetha Raghavendra Thamankar,NaT,2018-12-21,NaN,NaN,NaN,9334651.0,7536188.0,910.80,920.00,9.20,40.0,NaN
28938,NaN,NaN,NaN,NaN,Manjunath Adalagere Rathnaraju Jain,NaT,2018-12-28,NaN,NaN,NaN,9334963.0,7534956.0,2732.40,2760.00,27.60,24.0,NaN
28939,NaN,NaN,NaN,NaN,Puneeth Arni,NaT,2018-12-21,NaN,NaN,NaN,9334279.0,7536164.0,728.64,736.00,7.36,32.0,NaN
28940,NaN,NaN,NaN,NaN,Puneeth Arni,NaT,2018-12-28,NaN,NaN,NaN,9335517.0,7536165.0,728.64,736.00,7.36,32.0,NaN
28941,NaN,NaN,NaN,NaN,Puneeth Arni,NaT,2019-01-11,NaN,NaN,NaN,9372904.0,7564957.0,910.80,920.00,9.20,40.0,NaN
28942,NaN,NaN,NaN,NaN,E217922,NaT,2019-01-11,NaN,NaN,NaN,9373366.0,7561529.0,2574.00,2600.00,26.00,40.0,NaN
28943,NaN,NaN,NaN,NaN,Abhishek Kumar,NaT,2019-01-11,NaN,NaN,NaN,9375998.0,7564922.0,910.80,920.00,9.20,40.0,NaN
28944,NaN,NaN,NaN,NaN,Jitesh Audichya,NaT,2019-01-04,NaN,NaN,NaN,9369592.0,7560780.0,302.94,306.00,3.06,9.0,NaN
28945,NaN,NaN,NaN,NaN,Perugu Suresh,NaT,2019-01-11,NaN,NaN,NaN,9373968.0,7559650.0,1113.75,1125.00,11.25,45.0,NaN
28946,NaN,NaN,NaN,NaN,Manjunath Adalagere Rathnaraju Jain,NaT,2019-01-11,NaN,NaN,NaN,9370882.0,7563717.0,4554.00,4600.00,46.00,40.0,NaN
28947,NaN,NaN,NaN,NaN,Naina Saini,NaT,2019-01-11,NaN,NaN,NaN,9375812.0,7561048.0,752.40,760.00,7.60,40.0,NaN
28948,NaN,NaN,NaN,NaN,Manjunath Adalagere Rathnaraju Jain,NaT,2019-01-04,NaN,NaN,NaN,9368852.0,7563718.0,3643.20,3680.00,36.80,32.0,NaN
28949,NaN,NaN,NaN,NaN,E217922,NaT,2019-01-04,NaN,NaN,NaN,9369504.0,7561528.0,2059.20,2080.00,20.80,32.0,NaN
28950,NaN,NaN,NaN,NaN,SEETAL SASMAL,NaT,2019-01-04,NaN,NaN,NaN,9370012.0,7564989.0,204.93,207.00,2.07,9.0,NaN
28951,NaN,NaN,NaN,NaN,Dheeraj M,NaT,2018-12-07,NaN,NaN,NaN,9367666.0,7563906.0,4800.00,4848.48,48.48,40.0,NaN
28952,NaN,NaN,NaN,NaN,Dheeraj M,NaT,2018-11-30,NaN,NaN,NaN,9367638.0,7563902.0,4800.00,4848.48,48.48,40.0,NaN
28953,NaN,NaN,NaN,NaN,Dheeraj M,NaT,2018-12-14,NaN,NaN,NaN,9367716.0,7563903.0,4800.00,4848.48,48.48,40.0,NaN
28954,NaN,NaN,NaN,NaN,Dheeraj M,NaT,2018-12-21,NaN,NaN,NaN,9367788.0,7563904.0,4800.00,4848.48,48.48,40.0,NaN
28955,NaN,NaN,NaN,NaN,Dheeraj M,NaT,2018-11-16,NaN,NaN,NaN,9367618.0,7563901.0,4800.00,4848.48,48.48,40.0,NaN
28956,NaN,NaN,NaN,NaN,Prakasha Kallahalli Ramegowda,NaT,2019-01-11,NaN,NaN,NaN,9417153.0,7586145.0,1425.60,1440.00,14.40,45.0,NaN
28957,NaN,NaN,NaN,NaN,Dheeraj M,NaT,2019-01-11,NaN,NaN,NaN,9415705.0,7589208.0,4800.00,4848.48,48.48,40.0,NaN
28958,NaN,NaN,NaN,NaN,Prakasha Kallahalli Ramegowda,NaT,2019-01-18,NaN,NaN,NaN,9424051.0,7586146.0,285.12,288.00,2.88,9.0,NaN
28959,NaN,NaN,NaN,NaN,Lakshya Dev Singh,NaT,2018-12-28,NaN,NaN,NaN,9415253.0,7587466.0,677.16,684.00,6.84,36.0,NaN
28960,NaN,NaN,NaN,NaN,E217922,NaT,2019-01-18,NaN,NaN,NaN,9420189.0,7586981.0,2574.00,2600.00,26.00,40.0,NaN
28961,NaN,NaN,NaN,NaN,Perugu Suresh,NaT,2019-01-18,NaN,NaN,NaN,9420753.0,7585267.0,445.50,450.00,4.50,18.0,NaN
28962,NaN,NaN,NaN,NaN,Puneeth Arni,NaT,2019-01-18,NaN,NaN,NaN,9419715.0,7590307.0,910.80,920.00,9.20,40.0,NaN
28963,NaN,NaN,NaN,NaN,Dheeraj M,NaT,2019-01-04,NaN,NaN,NaN,9415271.0,7589207.0,3840.00,3878.78,38.78,32.0,NaN
28964,NaN,NaN,NaN,NaN,Manjunath Adalagere Rathnaraju Jain,NaT,2019-01-18,NaN,NaN,NaN,9417475.0,7589050.0,4554.00,4600.00,46.00,40.0,NaN
28965,NaN,NaN,NaN,NaN,Abhishek Kumar,NaT,2019-01-18,NaN,NaN,NaN,9422771.0,7590265.0,910.80,920.00,9.20,40.0,NaN
28966,NaN,NaN,NaN,NaN,Dheeraj M,NaT,2018-12-28,NaN,NaN,NaN,9415143.0,7589206.0,3840.00,3878.78,38.78,32.0,NaN

In [28]:
df3.to_excel('F:\\Invoice_Validation\\Filtered_Data.xls')

In [18]:
#df1['Status'] = np.where(df1['Material Description'].isin (df2['WIPRO NAME']) & df1['To date'].isin (df2['Week Ending Date']), 'Found', 'Not Found')
#df1['Amount'] = np.where(df1['Material Description'].isin (df2['WIPRO NAME']) & df1['To date'].isin (df2['Week Ending Date']), df2['Voucher Amount'], '')

In [102]:
#df1.loc[df1['Material Description'].isin (df2['WIPRO NAME']) & df1['To date'].isin (df2['Week Ending Date']), 'status']='Found'
#df1.to_excel('F:\\Invoice_Validation\\Filtered_Data.xls')

In [7]:
np.random.seed(0)
left = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': np.random.randn(4)})    
right = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value': np.random.randn(4)})

In [8]:
left

  key     value
0   A  1.764052
1   B  0.400157
2   C  0.978738
3   D  2.240893

In [9]:
right

  key     value
0   B  1.867558
1   D -0.977278
2   E  0.950088
3   F -0.151357

In [14]:
pd.merge(left, right, on='key', how='outer')

  key   value_x   value_y
0   A  1.764052       NaN
1   B  0.400157  1.867558
2   C  0.978738       NaN
3   D  2.240893 -0.977278
4   E       NaN  0.950088
5   F       NaN -0.151357